<h1>List of Users</h1>
<ul class = "list-group">
      <li class = "list-group-item" *ngFor = "let key of usersKeys">
             <button class="btn btn-danger" (click) = "deleteUsers(key)">Delete</button>
              <button class="btn btn-info" (click) = "deleteUsers(key)">update</button>
      
      
             {{'user number '+key+' '+users[key].email+' '+users[key].username}}</li>
